

<h1>Home Controller Index View</h1>

@* <greet dev-name="venkatesh" dev-location="madurai"></greet> *@

<greet dev-name="venkatesh" dev-location="madurai"></greet>

<a asp-action="Browse">Click Here to Browse</a>