<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/CSS/styles.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h1 class="head">Welcome to RRD Login Page</h1>
	@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
	{
		<p style="color: red;">@ViewBag.ErrorMessage</p>
	}
	@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
	{
		<p style="color: green;">@ViewBag.SuccessMessage</p>
	}
	<div class="container">
		<form id="loginForm" method="post">
				<div class="form-group">
					<label for="user">Username:</label>
					<input type="text" name="username" id="username" placeholder="Enter the UserName" >
					<span id="usercheck" style="color: red;">**Username is missing</span><br /><br />

					<label for="password">Password:</label>
					<input type="password" name="password" id="password" placeholder="Enter the Password">
				<span id="passcheck" style="color: red;">**Please Fill the password</span><br /><br />

				<button type="submit">Login</button>
				</div>
			</form>

@* 		@if (ViewBag.Message == null)
		{
			<h1>Enter the Details.</h1>
		}
		else
		{
			<h1>@ViewBag.Message</h1>
		} *@
		</div>
	<script src="/js/login.js"></script>
</body>
</html>
