
@model LoginDto

<form asp-action="Index">


    <p>
        <input asp-for="UserName" />
    </p>

    <p>
        <input asp-for="Password" type="password"/>
    </p>

     <input type="submit" value="Login"/>

</form>
