﻿@using ControllersAndActions.Models
@model Customer //binding  ==> we using model for selecting the type of class and @Model.Name here we using Model is different this for instance we using insteade this.

<h1>Display action of customer contorller</h1>

<p>Id is @Model.Id</p>

<p>Name of customer is  @Model.Name</p>  
<p>Customer city is : @Model.City</p>

