<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Detail</title>
</head>
<body>
    @{
        var appUser = ViewBag.AppUser;
    }
    <h2>@ViewBag.Header</h2>
    <table style="border:double; color:rebeccapurple">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>User Name:</td>
                <td>@appUser.UserName </td>
            </tr>
        }

    </table>
</body>
</html>
