﻿
@{
    ViewBag.ChildTitle = "AboutUs";  //This is title for the childview changing from the parent Layout Otherwise the parent title applied for all the child layout
   // Layout = "~/Views/Shared/_ParentLayout.cshtml";  //We don't need because we add the parent layout path in the _viewstart.cshtml
 }

 <section>
    <h4>This is Index page of AboutUs controller</h4>
</section>
